In [2]:
import pandas as pd

In [12]:
df=pd.read_csv('./data/sp500_stocks.csv')

df.shape

(1888765, 8)

In [13]:
n_rows_na= df.isna().any(axis=1).sum()
print(f"Number of rows with atleast one Nan value: {n_rows_na}")

Number of rows with atleast one Nan value: 1289431